# Binarios compilados — se publican como GitHub Releases
/glibc/libspatha-icd.so
/glibc/libspatha
/glibc/probe_api
/glibc/probe5
/glibc/shmtest
/bionic/spathad
# Por si quedan en el root
/libspatha-icd.so
/libspatha
/probe_api
/probe5
/shmtest
/spathad
*.o
*.a
*.log
*.so.fixed
*.bin
